body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.781);
  color:  pink;
  margin: 0;
  padding: 20x;
}

a {
    font-family: Arial;
    background-color: purple;
    color: red;
    margin: 0;
    padding: 20x;
}