body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 20px;
}


a:not(.barra-superior a) {
    font-family: Arial;
    background-color: purple;
    color: red;
    margin: 0;
    padding: 20x;
}